@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Full-bleed images on smaller devices */
@media (max-width: 768px) {
  .prose img {
    min-width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

/* Newlines in blockquotes exist for a reason */
.prose blockquote p {
  white-space: pre-line;
}

/* Make horizontal rules look like Medium's – https://medium.com/@ericclemmons/javascript-fatigue-48d4011b6fc4 */
.prose hr::before {
  content: '• • •';
  @apply text-xs tracking-[1em];
}
.prose hr {
  @apply h-auto text-center border-t-0 text-fuchsia-500;
}

/* Make bold blockquotes look like callouts */
.prose blockquote > p:only-child > strong:only-child {
  @apply text-2xl not-italic font-normal text-gray-500;
}

/* https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
