---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  icon: astroHTML.JSX.Element
}

const { icon: Icon, ...props } = Astro.props
---

<a class="group -m-1 p-1" {...props}>
  <Icon
    className="h-6 w-6  fill-white group-hover:fill-zinc-800  drop-shadow"
  />
</a>
