---
import { MailIcon } from '@/components/Icons'
---

<aside
  class="dark:zinc-600 rounded-2xl border border-zinc-100 p-6 shadow-sm dark:border-zinc-700/40"
>
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <MailIcon className="h-6 w-6 flex-none" />
    <span class="ml-3">Stay up to date</span>
  </h2>
  <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">
    Get notified when I publish something new, and unsubscribe at any time.
  </p>

  <script
    async
    data-uid="bf34bf4cf3"
    src="https://ericclemmons.ck.page/bf34bf4cf3/index.js"
  ></script>

  <style is:global>
    .formkit-form[data-uid='bf34bf4cf3'] .formkit-input {
      @apply min-w-0 flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-fuchsia-500 focus:outline-none focus:ring-4 focus:ring-fuchsia-500/10 dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-fuchsia-400 dark:focus:ring-fuchsia-400/10 sm:text-sm !important;
    }
    .formkit-form[data-uid='bf34bf4cf3'] [data-style='clean'] {
      @apply mt-6 p-0 !important;
    }

    .formkit-form[data-uid='bf34bf4cf3'] .formkit-field {
      @apply flex-auto;
    }

    .formkit-form[data-uid='bf34bf4cf3'] .formkit-submit {
      @apply ml-4 inline-flex flex-none items-center justify-center gap-2 rounded-md bg-zinc-800 py-2 px-3 text-sm font-semibold text-zinc-100 outline-offset-2 transition hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 active:transition-none dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 !important;
    }

    .formkit-form[data-uid='bf34bf4cf3'] .formkit-alert-error {
      @apply border-none bg-red-100 text-sm text-black dark:bg-red-900 dark:text-white !important;
    }

    .formkit-form[data-uid='bf34bf4cf3'] .formkit-alert-success {
      @apply border-none bg-green-100 text-sm text-black dark:bg-green-900 dark:text-white !important;
    }

    .formkit-form[data-uid='bf34bf4cf3'] .formkit-button > span,
    .formkit-form[data-uid='bf34bf4cf3'] .formkit-submit > span {
      @apply p-0 !important;
    }
    .formkit-form[data-uid='bf34bf4cf3']
      .formkit-powered-by-convertkit-container {
      @apply hidden !important;
    }
  </style>
</aside>
