---
export interface Props {
  title: string
  display?: boolean
}

const { title, display = false } = Astro.props
---

<section>
  <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
    <h2
      class:list={[
        display
          ? 'font-lora text-3xl tabular-nums tracking-tight text-zinc-200 dark:text-zinc-800'
          : 'text-sm font-medium text-zinc-400 dark:text-zinc-500',
      ]}
    >
      {title}
    </h2>
    <div class="md:col-span-3">
      <slot />
    </div>
  </div>
</section>
