---
import type { Props as SectionProps } from '@/components/Section.astro'
import Section from '@/components/Section.astro'

interface Props extends SectionProps {}

const { props } = Astro
---

<Section {...props}>
  <ul role="list" class="space-y-16">
    <slot />
  </ul>
</Section>
