---
import Container from '@/components/Container.astro'
import {
  GitHubIcon,
  LinkedInIcon,
  MailIcon,
  TwitterIcon,
} from '@/components/Icons'
import SocialLink from '@/components/SocialLink.astro'
import Layout from '@/layouts/Spotlight.astro'
---

<Layout
  title="About"
  description="I’m Eric Clemmons. I live in Austin, TX, where I create solutions that positively impact teams & users."
>
  <Container className="mt-16 sm:mt-32">
    <div
      class="grid grid-cols-1 gap-y-16 font-satoshi lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
    >
      <div class="lg:pl-20">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <img
            alt=""
            src="https://github.com/ericclemmons.png"
            class="aspect-square rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
          />
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1
          class="font-lora text-4xl tracking-tight text-zinc-900 dark:text-zinc-100 sm:text-5xl"
        >
          I’m Eric Clemmons. I live in Austin, TX, where I create solutions that
          positively impact teams & users.
        </h1>
        <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
          <p>
            I'm an engineering leader specializing in autonomous, outcome-driven
            remote teams with over 17 years of experience as an open-source
            JavaScript/Node.js developer focused on UX/DX.
          </p>

          <p>
            My industry experience ranges from organic SEO lead-generation in
            online education (HigherEducation.com), to cross-team mobile
            experiences (Starbucks), to leading new open-source UI teams at AWS
            Amplify & Stripe.
          </p>

          <p>
            In my free time, I learn new recipes to cook for my family, play
            music on drums & guitar, and sherpa clanmates in Destiny 2.
          </p>
        </div>
      </div>
      <div class="lg:pl-20">
        <ul role="list">
          <SocialLink
            href="https://twitter.com/ericclemmons"
            icon={TwitterIcon}
          >
            Follow on Twitter
          </SocialLink>
          <SocialLink
            href="https://github.com/ericclemmons"
            icon={GitHubIcon}
            className="mt-4"
          >
            Follow on GitHub
          </SocialLink>
          <SocialLink
            href="https://www.linkedin.com/in/ericclemmons"
            icon={LinkedInIcon}
            className="mt-4"
          >
            Follow on LinkedIn
          </SocialLink>
          <SocialLink
            href="mailto:eric@smarterspam.com"
            icon={MailIcon}
            className="border-zinc-100 dark:border-zinc-700/40 mt-8 border-t pt-8"
          >
            eric@smarterspam.com
          </SocialLink>
        </ul>
      </div>
    </div>
  </Container>
</Layout>
