---
import { Canvas } from '@/components/Canvas'
import { Container } from '@/components/Container'
import { HeroSocialLink } from '@/components/HeroSocialLink'
import { GitHubIcon, LinkedInIcon, TwitterIcon } from '@/components/Icons'
import Newsletter from '@/components/Newsletter.astro'
import Photos from '@/components/Photos.astro'
import Post from '@/components/Photos.astro'
import Resume from '@/components/Resume.astro'
import Layout from '@/layouts/Spotlight.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog'))
  .sort((a, z) => z.data.date.getTime() - a.data.date.getTime())
  .slice(0, 4)
---

<Layout>
  <div
    class="absolute -mt-16 h-96 w-full bg-fuchsia-500 shadow-inner"
    style={{
      clipPath: 'polygon(0 1.5vw, 100% 0, 100% calc(100% - 2.5vw), 0 100%)',
    }}
  >
    <Canvas client:only />
  </div>
  <Container className="mt-9">
    <div class="max-w-2xl">
      <h1
        class="md:leading-14 text-3xl font-extrabold leading-9 tracking-tight text-white drop-shadow-xl sm:text-4xl sm:leading-10 md:text-6xl"
      >
        Frontend Developer, Product-Oriented Leader.

        <style>
          .wave {
            animation-name: wave-animation;
            /* Refers to the name of your @keyframes element below */
            animation-duration: 2.5s;
            /* Change to speed up or slow down */
            animation-iteration-count: infinite;
            /* Never stop waving :) */
            transform-origin: 70% 70%;
            /* Pivot around the bottom-left palm */
            display: inline-block;
          }

          @keyframes wave-animation {
            0% {
              transform: rotate(0deg);
            }

            10% {
              transform: rotate(14deg);
            }

            /* The following five values can be played with to make the waving more or less extreme */
            20% {
              transform: rotate(-8deg);
            }

            30% {
              transform: rotate(14deg);
            }

            40% {
              transform: rotate(-4deg);
            }

            50% {
              transform: rotate(10deg);
            }

            60% {
              transform: rotate(0deg);
            }

            /* Reset for the last half to pause */
            100% {
              transform: rotate(0deg);
            }
          }
        </style>
      </h1>
      <p
        class="mt-6 text-base text-white shadow-black drop-shadow-[0_0.5rem_1rem_black]"
      >
        <span role="img" aria-label="waving hand" class="wave pr-1 text-white">
          {'👋🏻'}
        </span>
        I&apos;m Eric Clemmons{' '} – I've built, lead, & contributed to user-centered,
        remote engineering teams for over 15 years.
      </p>
      <div class="mt-6 flex gap-6">
        <HeroSocialLink
          href="https://twitter.com/ericclemmons"
          aria-label="Follow on Twitter"
          icon={TwitterIcon}
        />
        <HeroSocialLink
          href="https://github.com/ericclemmons"
          aria-label="Follow on GitHub"
          icon={GitHubIcon}
        />
        <HeroSocialLink
          href="https://www.linkedin.com/in/ericclemmons"
          aria-label="Follow on LinkedIn"
          icon={LinkedInIcon}
        />
      </div>
    </div>
  </Container>
  <Photos />
  <Container className="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        {posts.map((post) => <Post post={post} />)}
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Newsletter />
        <Resume />
      </div>
    </div>
  </Container>
</Layout>
