---
import avatar from '@/images/avatar.jpg'

const { props } = Astro
const { className, large = false } = props
---

<a
  {...props}
  href="/"
  aria-label="Home"
  class:list={[className, 'pointer-events-auto']}
>
  <img
    src={avatar.src}
    alt=""
    width={large ? '4rem' : '2.25rem'}
    class:list={[
      'rounded-full bg-zinc-100 object-cover ring ring-white dark:bg-zinc-800 dark:ring-black',
      large ? 'h-16 w-16' : 'h-9 w-9',
    ]}
  />
</a>
