---
const { href } = Astro.props
const isActive = Astro.url.pathname === href
---

<li>
  <a
    href={href}
    class:list={[
      'relative block px-3 py-2 transition',
      isActive
        ? 'text-fuchsia-500 dark:text-fuchsia-400'
        : 'hover:text-fuchsia-500 dark:hover:text-fuchsia-400',
    ]}
  >
    <slot />
    {
      isActive && (
        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-fuchsia-500/0 via-fuchsia-500/40 to-fuchsia-500/0 dark:from-fuchsia-400/0 dark:via-fuchsia-400/40 dark:to-fuchsia-400/0" />
      )
    }
  </a>
</li>
