---
import { Container } from '@/components/Container'
import NavLink from '@/components/NavLink.astro'
---

<footer class="mt-32">
  <Container.Outer>
    <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
      <Container.Inner>
        <div
          class="flex flex-col items-center justify-between gap-6 sm:flex-row"
        >
          <div
            class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200"
          >
            <NavLink href="/about">About</NavLink>
            <NavLink href="/blog">Blog</NavLink>
            <NavLink href="/projects">Projects</NavLink>
            <NavLink href="/speaking">Speaking</NavLink>
            <NavLink href="/uses">Uses</NavLink>
          </div>
          <p class="text-sm text-zinc-400 dark:text-zinc-500">
            &copy; {new Date().getFullYear()} Eric Clemmons. All rights reserved.
          </p>
        </div>
      </Container.Inner>
    </div>
  </Container.Outer>
</footer>
