---
import clsx from 'clsx'

import authenticator from '@/images/photos/authenticator.png'
import changebot from '@/images/photos/changebot.png'
import cjs from '@/images/photos/cjs.jpg'
import dateformat from '@/images/photos/dateformat.png'
import design from '@/images/photos/design.jpg'
import formdata from '@/images/photos/formdata.jpg'
import list from '@/images/photos/list.jpg'
import workflow from '@/images/photos/workflow.jpg'

const rotations = ['rotate-2', '-rotate-2', 'rotate-2', 'rotate-2', '-rotate-2']
---

<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    {
      [
        cjs,
        dateformat,
        list,
        authenticator,
        design,
        changebot,
        formdata,
        workflow,
      ].map((image, imageIndex) => (
        <div
          class={clsx(
            'relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl',
            rotations[imageIndex % rotations.length]
          )}
        >
          <img
            src={image.src}
            alt=""
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      ))
    }
  </div>
</div>
