---
const { className, href, icon: Icon } = Astro.props
---

<li class:list={[className, 'flex']}>
  <a
    href={href}
    class="group flex text-sm font-medium text-zinc-800 transition hover:text-fuchsia-500 dark:text-zinc-200 dark:hover:text-fuchsia-500"
  >
    <Icon
      className="group-hover:fill-fuchsia-500 fill-zinc-500 h-6 w-6 flex-none transition"
    />
    <span class="ml-4">
      <slot />
    </span>
  </a>
</li>
