---
const { className, href, icon: Icon } = Astro.props

console.log(Astro.props)
---

<li class:list={[className, 'flex']}>
  <a
    href={href}
    class="hover:text-fuchsia-500 dark:hover:text-fuchsia-500 text-zinc-800 dark:text-zinc-200 group flex text-sm font-medium transition"
  >
    <Icon
      className="group-hover:fill-fuchsia-500 fill-zinc-500 h-6 w-6 flex-none transition"
    />
    <span class="ml-4">
      <slot />
    </span>
  </a>
</li>
