---
import { MoonIcon, SunIcon } from '@/components/Icons'
---

<mode-toggle class="contents">
  <button
    type="button"
    aria-label="Toggle dark mode"
    class="group transition"
  >
    <SunIcon
      className="h-5 w-5 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:hidden"
    />
    <MoonIcon
      className="hidden h-5 w-5 stroke-zinc-500 transition group-hover:stroke-zinc-300 dark:block"
    />
  </button>
</mode-toggle>

<script>
  function disableTransitionsTemporarily() {
    document.documentElement.classList.add('[&_*]:!transition-none')
    window.setTimeout(() => {
      document.documentElement.classList.remove('[&_*]:!transition-none')
    }, 0)
  }

  function toggleMode() {
    disableTransitionsTemporarily()

    let darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
    let isSystemDarkMode = darkModeMediaQuery.matches
    let isDarkMode = document.documentElement.classList.toggle('dark')

    if (isDarkMode === isSystemDarkMode) {
      delete window.localStorage.isDarkMode
    } else {
      window.localStorage.isDarkMode = isDarkMode
    }
  }

  class ModeToggle extends HTMLElement {
    constructor() {
      super()

      this.querySelector('button').addEventListener('click', toggleMode)
    }
  }

  customElements.define('mode-toggle', ModeToggle)
</script>
