---
const { href } = Astro.props
const isActive = Astro.url.pathname === href
---

<li>
  <a
    href={href}
    class:list={[
      'relative block px-3 py-2 transition',
      isActive
        ? 'text-amber-700 dark:text-amber-400'
        : 'hover:text-amber-700 dark:hover:text-amber-400',
    ]}
  >
    <slot />
    {
      isActive && (
        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-amber-700/0 via-amber-700/40 to-amber-700/0 dark:from-amber-400/0 dark:via-amber-400/40 dark:to-amber-400/0" />
      )
    }
  </a>
</li>
