---
import Footer from '@/components/Footer.astro'
import { Header } from '@/components/Header'
const {
  title = 'Home',
  description = "I'm Eric Clemmons, an engineering leader specializing in autonomous, outcome-driven remote teams with over 15 years of experience as an open-source JavaScript/Node.js developer focused on UX & DX.",
} = Astro.props

const SITE = import.meta.env.PROD
  ? import.meta.env.SITE
  : 'http://localhost:3000'
---

<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:image" content={`${SITE}/api/og.png?title=${title}`} />
    <meta name="viewport" content="width=device-width" />
    <title>{[title, 'Eric Clemmons'].filter(Boolean).join(' / ')}</title>
    <meta name="description" content={description} />

    <script>
      let darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')

      updateMode()
      darkModeMediaQuery.addEventListener(
        'change',
        updateModeWithoutTransitions
      )
      window.addEventListener('storage', updateModeWithoutTransitions)

      function updateMode() {
        let isSystemDarkMode = darkModeMediaQuery.matches
        let isDarkMode =
          window.localStorage.isDarkMode === 'true' ||
          (!('isDarkMode' in window.localStorage) && isSystemDarkMode)

        if (isDarkMode) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }

        if (isDarkMode === isSystemDarkMode) {
          delete window.localStorage.isDarkMode
        }
      }

      function disableTransitionsTemporarily() {
        document.documentElement.classList.add('[&_*]:!transition-none')
        window.setTimeout(() => {
          document.documentElement.classList.remove('[&_*]:!transition-none')
        }, 0)
      }

      function updateModeWithoutTransitions() {
        disableTransitionsTemporarily()
        updateMode()
      }
    </script>
    <link href="/favicon.png" rel="icon" type="image/png" />
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div
          class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
        >
        </div>
      </div>
    </div>
    <div class="relative">
      <Header client:visible />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
